* {
  font-family: "CommitMono Nerd Font";
  font-weight: bold;
  background-color: transparent;
}

window.top-bar#waybar {
  color: greenyellow;
  border-radius: 0px 0px 20px 20px;
  background-color: transparent;
  border-top: 15px solid #1e1e2e;
}

window.top-bar#waybar .modules-left {
  background-color: #1e1e2e;
  padding: 15px;
  padding-bottom: 15px;
  padding-right:50px;
  border-radius: 0px 0px 2000px 0px;
  color: #cdd6f4;
}

window.top-bar#waybar .modules-center {
  background-color: #1e1e2e;
  border-radius: 0px 0px 2000px 2000px;
  color: antiquewhite;
  padding: 15px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 15px;
}

window.top-bar#waybar .modules-right {
  background-color: #1e1e2e;
  border-radius: 0px 0px 0px 2000px;
  color: #cdd6f4;
  padding: 15px;
  padding-right: 15px;
  padding-left: 50px;
  padding-bottom: 15px;
}

window.left-bar#waybar {
  background-color: transparent;
  /* border-left: 15px solid #1e1e2e;  */
}

window.left-bar#waybar .modules-center {
  background-color: #1e1e2e;
  /* border-radius: 0px 1000px 1000px 0px; */
  border-radius: 1000px;
  /* padding: 40px 5px 40px 5px; */
  padding: 10px 5px 10px 5px;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 6px;
  margin: 6px 3px;
  border-radius: 4px;
  color: #cdd6f4;
}

#workspaces button.active {
  background-color: #cdd6f4;
  color: #1e1e2e;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

/* #memory { */
/*   color: greenyellow; */
/* } */
/**/
/* #cpu { */
/*   color: hotpink; */
/* } */
/**/
/* #network { */
/*   color: lawngreen */
/* } */
/**/
/* #bluetooth { */
/*   color: lightseagreen; */
/* } */
/**/
/* #volume { */
/*   color: orangered; */
/* } */
/**/
/* #battery { */
/*   color: yellow; */
/* } */
